.time{
  text-align: center;
  padding: 30px;
  font-size: 45px;
}

.btn{
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  width: fit-content;
  margin: 0 10px;
  cursor: pointer;
}

.stop{
  background: red;
}

.wait{
  background: blue;
}

.reset{
  background: green;
}

.btnContainer{
  display: flex;
  justify-content: center;
}